
* {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

.main {
  background: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20%;
}


.card {
  background-color: rgba(124, 120, 120, 0.4);



  box-shadow: 0 24px 64px #000;
  color: aliceblue;
}



